body{
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, Sans-serif;
  
}

.blog-post-card{
  background-color: white;
  border-radius: 15px;
  overflow:hidden;
  width:330px;
  margin:20px;
  text-align: center;

}


.post-img{
    width: 100%;
    height:auto;
    border-bottom: 8px solid #333
}

.post-content{
  padding:20px;
}

.post-title, .post-excerpt{
  color: brown;
  margin:4px;
}

.read-more{
  background-color:gray;
  margin:10px;
  padding:12px;
  border-radius:10px;
  display:inline-block;
  text-decoration:none;
  color:white;
}
