body{
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, Sans-serif;
  
}

.blog-post-card{
  background-color: white;
  border-radius: 15px;
  overflow:hidden;
  width:330px;
  margin:20px;
  text-align: center;

}